# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Coverage
coverage/

# Temp files
*.tmp