.cta-section{
padding:100px 24px;
}

.cta-box{

max-width:1200px;

margin:auto;

background:linear-gradient(135deg,#6C63FF,#8B5CF6);

border-radius:28px;

padding:80px 40px;

text-align:center;

color:white;

}

.cta-box h2{

font-size:2.8rem;

margin-bottom:20px;

}

.cta-box p{

max-width:700px;

margin:auto;

line-height:1.8;

opacity:.9;

margin-bottom:40px;

}

.cta-btn{

display:inline-block;

padding:15px 35px;

background:white;

color:#6C63FF;

text-decoration:none;

font-weight:600;

border-radius:12px;

transition:.3s;

}

.cta-btn:hover{

transform:translateY(-3px);

}